@import utils.FrontRoute
@import utils.EmailAddress
@import models.auth.AuthToken

@(user: User, authToken: AuthToken)(implicit frontRoute: FrontRoute, contactAddress: EmailAddress)

@views.html.mails.layout("Votre mot de passe SignalConso") {
    <p>
        Bonjour,
    </p>
    <p>
        Pour choisir un nouveau de passe d'accès à SignalConso veuillez cliquer sur le lien suivant : @frontRoute.dashboard.resetPassword(authToken)
    </p>
    <p>
        ATTENTION : Ce lien n'est valable que 24 heures après l'envoi de cet e-mail et à condition que vous n'ayez pas effectué une nouvelle demande de réinitialisation de mot de passe.
    </p>

    <p>
        <i>L'équipe SignalConso</i>
    </p>

    <hr />
        Cet e-mail vous a été envoyé suite à une demande de modification de mot de passe du compte associé à cette adresse e-mail sur le site @frontRoute.website.url
    <ul>
        <li>Si ce compte ne vous appartient plus, merci de <a href="mailto:@contactAddress">nous contacter</a></li>
        <li>Si vous n'avez pas effectué cette demande, merci de ne pas tenir compte de cet e-mail.</li>
    </ul>
}