@import java.net.URI
@import utils.FrontRoute
@(validationUrl: URI, daysBeforeExpiry: Int)

@views.html.mails.layout("Confirmez votre adresse email SignalConso") {
    <p>
        Bonjour,
    </p>
    <p>
        Pour confirmer votre email utilisateur sur SignalConso veuillez cliquer sur le lien suivant : @validationUrl
    </p>
    <p>
        ATTENTION : Ce lien n'est valable que @daysBeforeExpiry jours après l'envoi de cet e-mail
    </p>

    <p>
        <i>L'équipe SignalConso</i>
    </p>
}