@import models.report.Report
@import utils.FrontRoute
@import models.report.Report
@(report: Report)(implicit frontRoute: FrontRoute)

@views.html.mails.layout("L'entreprise n'a pas répondu au signalement") {
    <p>
        Bonjour @report.firstName @report.lastName,
    </p>

    <p>
        Vous avez fait un signalement le <b>@report.creationDate.format(java.time.format.DateTimeFormatter.ofPattern("dd/MM/yyyy"))</b> concernant une entreprise :
    </p>
    @if(report.companySiret.isDefined) {
    <p style="text-align: center;">
        SIRET : <b>@report.companySiret.get</b>
    </p>
    }
    <p style="text-align: center;">
        <b>
            @views.html.fragments.address(report.companyName, report.companyAddress)
        </b>
    </p>
    <p>
        L'entreprise n'a pas souhaité répondre à votre signalement.
    </p>

    @if(!report.isContractualDispute()) {
        <p>
            <b>
                Par contre, les enquêteurs de la répression des fraudes ont bien reçu votre signalement.
                Ils peuvent décider de contrôler ou de surveiller l'entreprise que vous avez signalée, en fonction des informations que vous avez transmises.
            </b>
        </p>

        <p>
            Si vous retournez dans cette entreprise et constatez que le problème n'a pas été corrigé, faites un nouveau signalement.
            Savoir que la situation perdure est un élément important pour les enquêteurs.
        </p>
    } else {
        <p>
            Par contre, vous pouvez continuer les démarches pour trouver une solution ou obtenir réparation
        </p>
        <p style="text-align: center; padding: 20px">
            <a href="@frontRoute.website.litige" class="btn">
                Continuer mes démarches
            </a>
        </p>
        <p>
            <i>Si vous avez déjà obtenu répération concernant votre litige, vous pouvez ignorer ce message.</i>
        </p>
    }

    <p>À bientôt sur SignalConso !</p>

    <p>
        <i>L'équipe SignalConso</i>
    </p>

    @if(report.needWorkflowAttachment()) {
        <div style="padding-bottom: 0.5em">
            <div style="font-weight: bold;
                text-align: center;
                border-top: 1px solid #D3D3D3;
                border-bottom: 1px solid #D3D3D3;
                padding: 10px 0;
                margin: 10px">
                Comprendre SignalConso
            </div>
            <img src="cid:schemaSignalConso-Etape4" style="max-width: 100%"/>
        </div>
    }
}