logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
.DS_Store
local.conf
/bin/
/.metals/
.bloop
metals.sbt
.java-version
conf/local.application.conf
.clever.json
.vscode/
*.env
*.iml
/out/
/.bsp
javaOptions.sbt
*.sc
