@import utils.FrontRoute
@import java.time.LocalDateTime
@import java.time.format.DateTimeFormatter
@import models.report._

@import models.event.Event
@import models.event.Event
@(
        report: Report,
        events: Seq[(Event, Option[User])],
        responseOption: Option[ReportResponse],
        companyEvents: Seq[(Event, Option[User])],
        files: Seq[ReportFile]
)(
        implicit frontRoute: FrontRoute, userRoleOpt: Option[UserRole] = None
)

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width" />

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Détail du signalement @report.id</title>

        <link rel="stylesheet" href='@routes.Assets.versioned("css/report.css")'>

    </head>
    <body>
        <div style="page-break-before: always;">
            <div class="logo-marianne">
                <img src='@routes.Assets.versioned("images/gouv.png")'/>
            </div>
            <div class="logo-sc">
                <img src='@routes.Assets.versioned("images/logo-signal-conso.png")' height="1.7cm"/>
            </div>
            <div class="references">
                <small>
                    Identifiant unique : @report.id<br>
                    Ce document a été extrait le : @LocalDateTime.now().format(DateTimeFormatter.ofPattern(("dd/MM/yyyy à HH:mm:ss")))
                </small>
            </div>
            <div class="content">
                <div>
                    <h2>Type de signalement</h2>
                    <ul>
                        <li>
                            @report.category
                        </li>
                        @report.subcategories.map{subcat =>
                            <li>
                                @subcat
                            </li>
                        }
                    </ul>
                    <h2>Détail du signalement</h2>
                    <ul>
                        @report.details.map{input =>
                            <li>
                                <b>@Html(input.label)</b> @input.value
                            </li>
                        }
                    </ul>
                    @responseOption.map { response =>
                        <h2>Réponse du professionnel</h2>

                        <b>
                            @response.responseType match {
                                case ReportResponseType.ACCEPTED => {
                                    Signalement pris en compte
                                }
                                case ReportResponseType.REJECTED => {
                                    Signalement infondé
                                }
                                case ReportResponseType.NOT_CONCERNED => {
                                    Etablissement non concerné par le signalement
                                }
                            }
                        </b>
                        <div>@response.consumerDetails</div>
                        @response.dgccrfDetails.filter(_.trim.nonEmpty).map { details =>
                            <br/>
                            <b>Informations complémentaires pour la DGCCRF</b>
                            <div>@details</div>
                        }
                    }
                    <h2>Entreprise</h2>
                    @report.companySiret.map{siret =>
                        <div>
                            <b>@siret</b>
                        </div>
                    }
                    @report.companyName.map { companyName =>
                        <div>@companyName</div>
                    }
                    <div>
                        @views.html.fragments.address(report.companyName, report.companyAddress)
                    </div>
                    @report.websiteURL.websiteURL.map{url =>
                        <div>
                            @url
                        </div>
                    }
                    @report.phone.map{phone =>
                        <div>
                            @phone
                        </div>
                    }
                    @report.vendor.map {vendor =>
                        <div>
                            <h2>Vendeur</h2>
                            <div>@vendor</div>
                        </div>
                    }
                    <h2>Consommateur</h2>
                    @if(!report.contactAgreement) {
                        <div class="note">Le consommateur souhaite rester anonyme</div>
                    }
                    <div>
                        <b>@report.firstName @report.lastName</b>
                    </div>
                    <div>
                        @report.email
                    </div>
                    @report.consumerPhone.map { phone =>
                        <div>
                            @phone
                        </div>
                    }
                    @report.consumerReferenceNumber.map { consumerReferenceNumber =>
                    <div>
                        Numéro de référence dossier : @consumerReferenceNumber
                    </div>
                    }
                </div>
                <div>
                    <h2>Pièces jointes</h2>
                    @if(files.isEmpty) {
                        <span>Aucune pièce jointe n'est associée à ce signalement.</span>
                    } else {
                        Pièces jointes :
                        <ul>
                        @files.map{f =>
                            <li>@f.filename</li>
                        }
                        </ul>
                    }
                </div>
                @if(userRoleOpt.isDefined) {
                    <div>
                        <h2>Historique du signalement</h2>
                        <p>
                            <span class="note">@report.creationDate.format(java.time.format.DateTimeFormatter.ofPattern("d MMMM yyyy à HH:mm:ss"))</span>
                            <br />
                            <b>Création du signalement</b>
                        </p>
                        @events.sortBy(_._1.creationDate).map { case (e, u) =>
                        <p>
                            <span class="note">@e.formattedDate</span>
                            <br />
                            <b>@e.action.value</b>
                            <br />
                            @e.getDescription
                        </p>
                        }
                    </div>
                    @if(report.companyId.isDefined) {
                        <div>
                            <h2>Historique de l'entreprise</h2>
                            @companyEvents.sortBy(_._1.creationDate).map { case (e, u) =>
                            <p>
                                <span class="note">@e.formattedDate</span>
                                <br />
                                <b>@e.action.value</b>
                                <br />
                                @e.getDescription
                            </p>
                            }
                        </div>
                    }
                }
            </div>
            <div class="footer text-center">
                <img src='@routes.Assets.versioned("images/logo-ministere.png")'/>
            </div>
        </div>
    </body>
</html>